
/*===================================================================
=            Common CSS for the React Assignment Project            =
====================================================================*/


.mt10{
    margin-top: 10px
}

.mt25 {
    margin-top: 25px;
}

.mb10{
    margin-bottom: 10px;
}



/*=====  End of Common CSS for the React Assignment Project  ======*/

